@mixin displayFlex($display, $content, $items){
    display: $display;
    justify-content: $content;
    align-items: $items;
}

@mixin buttonStyle($border,$radius,$background,$color){
    border: $border;
    border-radius: $radius;
    background-color: $background;
    color: $color;
}

@mixin linkStyle($decoration, $color, $cursor){
    text-decoration: $decoration;
    color: $color;
    cursor: $cursor;
}